.projects2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    border-radius: 10px;
  }
  p {
    margin-top: 10px;
    font-size: 16px;
  }
}
