.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 24px;

  grid-area: projects;

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-secondary);
    text-align: center;
  }
  .projects-content {
    display: flex;

    flex-direction: column;
    gap: 34px;
  }

  @media (min-width: 768px) {
    align-items: start;
    p {
      font-size: 20px;
      line-height: 36px;
      text-align: start;
    }
    .projects-content {
      flex-direction: row;
      align-items: center;
    }
  }
}
